<h1>Register Page</h1>
<form method="post" action="/auth/register">
    <label>username <input type="text" name="username" value="{{body.username}}"></label>
    <label>password <input type="password" name="password" ></label>
    <label>repass <input type="password" name="repass" ></label>
    <button>register</button>
</form>