<h1>login Page</h1>
<form method="post" action="/auth/login">
    <label>username <input type="text" name="username" value="{{body.username}}"></label>
    <label>password <input type="password" name="password" ></label>
    <button>login</button>
</form>